*{
  padding:0;
  margin: 0;
}
body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-family: futura-pt;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0em;
  line-height: 1.7em;
  text-transform: none;
  color: rgba(29,29,29,.7);
}
/* navbar */
#container{
  margin: 40px 130px;
}
#logo{
  background-color: white;
  width: 50%;
  float: left;
}
#menu{
  background-color: white;
  width: 50%;
  float: right;
}

.table{
  float: right;
  display: table;
}
.top-nav-item{
  display: inline;
  padding: 10px;
  color: black;
  font-size: 20px;
}
#image{
  width: 500px;
  float: left;
  text-align: center;
}
/* main */
.inner{
  font-family: "Brandon Grotesque Bold";
  font-family: Arial,Helvetica,sans-serif;
  background-color: white;
  text-align: center;
  text-align: justify;
  max-width: auto;
  float: right;
  
}
#error-message{
  text-align: center;
  font-family: brandon-grotesque;
  font-weight: 900;
  font-style: normal;
  font-size: 51px;
  letter-spacing: .29em;
  line-height: 1em;
  text-transform: uppercase;
  float: right;
  margin-top: 200px;
  margin-right:150px;
  margin-left:1px;
  margin-bottom: 40px;
  color: black;
}
.sub-text{
  text-align: center; 
  font-size: 20px;
  color: rgba(29,29,29,.7);
  margin-right: 110px;
}
.main{
  padding: 150px;
}
.footer-contain{
margin: 600px 900px;
margin-bottom: 100px;
}
#social-list li{
  display: inline; 
  
}
.social-icon{
  color: black;
  font-size: 10x;
  padding: 5px;
}
.bottom-text{
  text-align: center;
  font-family: brandon-grotesque;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .29em;
  line-height: 1.7em;
  text-transform: uppercase;
}
#extra-links{
  margin-top: 50px;
}
#extra-links-box{
  margin:  0px 400px;
  text-align: center;
}
#copyrights{
  margin-top: 10px;
}